@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header{
    background:#212121;
}

nav{
    padding-top: 50px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    background-color: rgb(36, 33, 33);
    padding: 5px;
    border: .20px solid white;
    border-radius: 40px;
    }

.menu-title a{
    color: white;
    text-decoration: none;
}

.style-home{
    border-radius: 50px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 120%;
}


.banner{
    padding-top: 50px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info{
    width: 520px;
    height: 280px;
}

.banner-info h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
}

.banner-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.btn{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 5px 20px;
    border: none;
}

.btn2{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: rgb(22, 21, 21);
    padding: 5px 20px;
    border: none;
}

.banner-img{
    width: 350px;
    height: 580px;
    position: relative;
}

.img-box{
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 80%;
    left: -20%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px;
}

.round{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.img-box h4{
    color: rgb(250, 250, 249);
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 24px;
}

.img-box p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.img-box2{
    position: absolute;
    top: 20%;
    right: -10%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.img-box2 h4{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
}

.img-box2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

.hide{
    display: none;
}

/* header work done */

main{
    background-color: black;
}

main > section{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

/* habits section */


.habits-info{
    width: 670px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.habits-info h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 5px;
}

.habits-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.habits-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.habits-img-box h4{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
    padding: 10px 0;
}

.habits-img-box p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.habits-img-box img{
    border-radius: 50%;
}
/* habit section close */

.run-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 50px;
    padding: 50px;
}

.run-info h2{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 120%;
}

.run-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
}


.img{
    width: 350px;
    height: 312px;
    border-radius: 20px;
}
/* run box done */

.calculator-info{
    width: 670px;
    height: 120px;
    margin: 0 auto;
}

.calculator-info h2{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 120%;
}

.calculator-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

/* calculator */
.calculator-info{
    padding: 50px 0;
}

.calculator-details{
    background: rgb(34, 34, 34);
}

.age-calculator{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.table h3{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 50px;
}

table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid white;
    padding: 5px 10px;
}

.thead th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    padding: 15px;
}

.tbody td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    padding: 15px;
}


.cal-box h3{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 14px;
}

.cal-box p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 14px;
}


.input-item input, select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding: 15px 20px;
    border: none;
} 

#height{
    margin: 0 5px 10px 0;
}

#weight{
    margin: 0 0 10px 0;
}

#age{
    margin: 0 5px 10px 0;
}

#sex{
    margin: 0 0 10px 0;
    padding-right: 190px;
}

#unknow{
    margin: 0 5px 10px 0;
    width: 100%;
}







@media screen and (max-width: 576px) {
    .menu-title{
        display: none;
    }
    .hide{
        display: block;
        color: white;
    }
    .banner{
        flex-direction: column;
    }
    .banner-info{
        width: 100%;
        height: 100%;
    }
    .banner-img{
        width: 100%;
        height: 100%;
    }

    /* habit */

    .habits-info{
        width: 400px ;
        height: 120px;
    }
    .habits-img{
        flex-direction: column;
    }

    /* run */

    .run-section{
        flex-direction: column;
    }

    .run-info{
       padding: 80px;
    }
    
    .run-info button{
        width: 100%;
    }

    .img{
        width: 280px;
        height: 170px;
    }
    /* calculator */

    .calculator-info{
        padding: 20px 0;
        width: 350px;
    }

    .age-calculator{
        flex-direction: column;
    }

    .input-item input, select{
        padding: 15px 2px;
        border: none;
    } 

    #sex{
        margin: 0 0 10px 0;
        padding-right: 173px;
    }

    .cal-box{
        padding-top: 50px;
    }

}